# Default values for gatekeeper-templates.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

limits:
  cpu: ${limits_cpu}
  memory: ${limits_memory}

requests:
  cpu: ${requests_cpu}
  memory: ${requests_memory}
