config:
  logLevel: debug
  logFormat: json
  route:
    routes:
    - match:
      - receiver: "loki"
  receivers:
  - name: "loki"
    loki:
      streamLabels:
        source: kube-api
      url: ${loki_gateway_monitoring_url}/loki/api/v1/push
